.search-form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto 30px;
}

.search-form {
	display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.search-form md-input-container {
    width: 100%;
}
.search-form button {
	margin-left: 10px;
}

.film-cards-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.film-card {
	width: 48%;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.film-card .mat-card-image {
	border-radius: 2px 2px 0 0;
}
.film-card .picture-cap {
	color: grey;
	margin: 0 0 30px;
}
