@import 'https://fonts.googleapis.com/icon?family=Material+Icons';


html {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    height:100%;
    display: flex;
}
.loading {
    height: 100px;
    width: 130px;
}